{
    "DRIVE_API_URL": "",
    "DRIVE_NEW_API_URL": "",
    "PHOTOS_API_URL": "",
    "NETWORK_API_URL": "",
    "CRYPTO_SECRET2": "",
    "MAGIC_IV_HEX": "",
    "MAGIC_SALT_HEX": "",
    "SENTRY_DSN": ""
}
