<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string></string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>internxt.InternxtDesktop</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>internxt</string>
			</array>
		</dict>
	</array>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://internxt.github.io/drive-desktop-macos/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>GnCaC4F6fdZw43QuFHnPfOrQQVHGSd5fmWYqK4XcVAU=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>21600</integer>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/Phosphor-Light.ttf</string>
		<string>Fonts/InstrumentSans-Regular.ttf</string>
		<string>Fonts/InstrumentSans-Medium.ttf</string>
		<string>Fonts/InstrumentSans-SemiBold.ttf</string>
		<string>Fonts/InstrumentSans-Bold.ttf</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.icon-decoration.badge</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Available offline ($(CURRENT_PROJECT_VERSION))</string>
			<key>UTTypeGlyphName</key>
			<string>availableOffline</string>
			<key>UTTypeIconFile</key>
			<string>availableOffline</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>availableOffline</string>
				<key>UTTypeIconBadgeName</key>
				<string>availableOffline</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.internxt.icon-decorations.availableOffline</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>availableOffline</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.icon-decoration.badge</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Folder Available offline ($(CURRENT_PROJECT_VERSION))</string>
			<key>UTTypeIconFile</key>
			<string>availableOffline</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>availableOffline</string>
				<key>UTTypeIconBadgeName</key>
				<string>availableOffline</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.internxt.icon-decorations.folderAvailableOffline</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>folderAvailableOffline</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
